@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar{
  background-color: rgb(11, 7, 37);
  box-shadow: 1px 0px 5px black;
}

.main{
  background-color: rgb(1, 2, 24);
  
}

.clip{overflow-x: auto;
  white-space: nowrap;
  clip-path: circle(50.0% at 63% 50%);
  
}

.scrollable{
  overflow-x: auto;
    white-space: nowrap;
    width: 120vw;
}